[Unit]
Description=Fixed Base Service {{VERSION}}

[Service]
ExecStart=/usr/bin/authbind --deep /usr/bin/node /home/{{USERNAME}}/fixedbase/server.cjs
WorkingDirectory=/home/{{USERNAME}}/fixedbase
Restart=on-failure

[Install]
WantedBy=default.target
